<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Delivery Details</h1>
    <form>
        <fieldset>
            <label for="name">Name: <input type="text" minlength="3" placeholder="Enter your name!" required name="name" id="name"> </label>
            <label for="address">Address: <input type="text" placeholder="Enter your address!" required name="address" id="address"> </label>
            <label for="phone">Phone: <input type="text" placeholder="Enter your phone number!" required name="phone" id="phone" minlength="8" maxlength="8"> </label>
            <label for="rush">Rush: <input type="checkbox" name="rush" id="name"> </label>
            <label for="comments">Comments: <input type="textarea" placeholder="Type here" name="comments" id="comments"> </label>
            <button type="submit">Cancel order</button> <button type="submit">Place Order</button>
        </fieldset>
    </form>
</body>
</html>